{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 新建靓号 </h3>
            </div>
            <div class="panel-body">
                {#            novalidate表示关闭浏览器校验#}
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% for foo in form %}
                        <div class="form-group">
                            <label>{{ foo.label }}</label>
                            {{ foo }}
                            <span style="color: red;">{{ foo.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">提 交</button>
                    <a class="btn btn-warning" href="/pretty/list/">
                        返回
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}